html{
  background: none;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
  
}

header {
    background: linear-gradient(180deg, #FFF0ED 9.9%, #FFF 100%);
}

body.admin-bar header.fixed-top .head-wrap{
    top:30px;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.container-1000{
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

header.fixed{
  width: 100%;
  position: fixed;
  top: 30px;
  height: 140px;
  z-index: 999999;
}
header{
  transition: height .5s ease-in;  
  height: 160px;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo {
    max-width: 200px;
    height: auto;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #151515;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#search-conainer {
    display: flex;
    float: right;
}

#search-conainer input {
    padding: 5px;
    margin-right: 10px;
}

.search-input{
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
}

main {
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2.bold{
  font-weight: 900;
}

.home h2{
  font-size: 22px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
  font-family: 'Inter';
}

p {
    margin-bottom: 20px;
}

.button-primary {
    background-color: #BE2026;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    color: #FFF;
    padding: 8px 12px;
    cursor: pointer;
}

.hero-bubble {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 10px 16px;
    position: relative;
    border-radius: 30px;
    border: 2px solid;
    border-color: #414141;
    cursor: pointer;
}

.hero-bubble .clickable-bubbles {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #595959;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.36px;
    line-height: normal;
}

.recent-posts-container{
  /* text-align: center; */
  padding: 10px 40px;
}

.floatright{
  float: right;
    margin: 0 0 1em 1em;
}

.visuals-btn-wrap{
  position: relative;
  z-index: 999;
}

.visuals-btn-wrap a{
  position: absolute;
  right: 20px;
  top: -60px;
}


.visual-slider .owl-nav{
  margin-top: 30px;
}

.visual-slider .owl-carousel .owl-nav button.owl-prev{
  margin-right: 30px;
}

.visual-slider .owl-carousel .owl-nav button.owl-prev, .visual-slider .owl-carousel .owl-nav button.owl-next{
  background: rgba(183, 183, 183, 1) !important;
  color: #fff !important;
  border: 1px solid rgba(208, 213, 221, 1) !important;
  padding: 3px 8px !important;
  display: inline-block !important;
}


.visual-slider .owl-carousel .owl-item img{
  border: 2px solid rgba(195, 195, 195, 1);

}

a.btn-icon{
  background: rgba(190, 32, 38, 1);
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
  border: 1px solid rgba(208, 213, 221, 1);
  border-radius: 8px;
}


/* Post preview Style */
.recent-posts {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px 20px;
    position: relative;
}

.post-preview-card {
    position: relative;
    width: 400px;
    /* height: 240px; */
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #d5d5d5;
    flex-grow: 1;
    padding: 10px;

}

.post-preview-card .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 36px;
    left: 16px;
}

.post-preview-card .text-wrapper {
    position: relative;
    /* width: 389px;
    height: 34px; */
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #252525;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 16px;
}

.post-preview-card .text-wrapper a{
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #252525;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

.post-preview-card .div {
    position: relative;
    width: 389px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: rgba(62, 62, 62, 1);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
}

.post-preview-card .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 4px;
    position: relative;
    flex: 0 0 auto;
    background-color: #c2dee7;
    border-radius: 6px;
    cursor: pointer;
}

.post-preview-card .div-wrapper.see-more-pill {
    background-color: #88d7f0;
}

.post-preview-card .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.post-preview-card .calendar {
    position: relative;
    width: 12px;
    height: 12px;
}

.post-preview-card .date-text {
    position: relative;
    display: inline;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #5c5c5c;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.recent-posts-inner{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.card-calendar-wrap{
  display: flex;
  gap: 5px;
}

.card-calendar-wrap .calendar{
  margin-left: auto;
}

.slider {
    overflow-x: scroll;
    height: 380px;
    display: flex;
    border: 1px solid red;
    margin-bottom: 20px;
}
.slider img {
    width: 350px;
    margin: 30px;
    display: inline-block;
}

.faq{
  margin: 30px 0;
}

.faq h2{
  margin-bottom: 20px;
}


.home .iframe-wrap{
  padding-top: 56.25%;
  position: relative;
  max-height: 100%;
  width: auto;
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}

.home .iframe-wrap iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

}

.home section div.gutter{
  max-width: 1300px;
}


.faq-container {
    background-color: #fff0ed;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* This adds space between the columns and rows */
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
  }

  .faq-item {
    background: #f9f9f9;
    border-radius: 4px;
    flex-basis: calc(50% - 16px); /* Adjusts for the gap */
    box-sizing: border-box;
  }
  
  .faq-question {
    width: 100%;
    padding: 16px;
    text-align: left;
    background: #ffffff; /* Or any color you wish */
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .faq-question:hover {
    background-color: #f1f1f1;
  }
  
  .faq-answer {
    padding: 0 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #fff;
  }

  ul#menu-primary-nav.menu a{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0 1rem;
  }

  ul#menu-primary-nav.menu li.current-menu-item a{
    border-bottom: 1px solid #151515;
    color:#151515;
    font-weight: 700;
  }

  header .flex-container{
    align-items: flex-start;
  }

header .searchform input[type=submit] {
    background-image: url('images/search-white.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    /* width: 36px;
    height:100%; */
    padding:0.5rem;
    border-radius: 36px;
    border: 1px solid #D0D5DD;
    background-color: #BE2026;
    border-radius: 8px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding: 5px 20px;
    padding-left: 35px;
    padding-right: 14px;
}

header .searchform input[type=submit]:hover{
    color: #fff;
}

.adv-search-div{
    float: right;
    padding: 0 0.5rem;
}

.searchform input, .searchform select{
    padding: 6px 8px;
}

.adv-search-div a{
    text-decoration: underline;
   font-size: 11px;
}

/* .fixed-top .head-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
} */

#bd{
    margin-top: 40px;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: fixed;
  
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    right: 20px;
    left: auto;
    top: 40px;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__box a {
    display: block;
    padding: 12px 24px;
    color: #333;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    line-height: 18px;
  }
  .menu__box a:hover {
    background-color: #CFD8DC;
  }



  .menu__box li{
    margin-bottom: 5px;
  }


  .home-main-heading{
    text-align: center;
    background: #fff;
  }


  ul.homepage-tags{
    list-style: none;
    max-width: 800px;
    margin: 0 auto;
  }

  ul.homepage-tags li{
    display: inline-block;
    margin: 20px;
  }

  ul.homepage-tags li a{
    color: #595959;
    border: 2px solid #424242;
    padding: 10px 16px;
    border-radius: 30px;
  }
  ul.homepage-tags li a:hover{
    background: #BE2026;
    color: #fff;
    border-color: #BE2026;
  }

  .home-main-heading h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: #2E2E2E;
  }

  ul.posttags{
    list-style: none;
    margin: 0;
    overflow: auto;
  }
  .posttags li{
    display: inline-block;
    overflow: auto;
    margin: 0;
  }

  .posttags li a, .posttags li span{
    font-size: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: 'inter';
    font-weight: 400;
    padding: 4px 8px;
    line-height: 20px;
    /* border: 1px solid; */
    background: rgba(194, 222, 231, 1);
    border-radius: 6px;
  }

  .faq-answer *{
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: rgba(111, 108, 144, 1);
  }




  .accordion .accordion-item {
    /* border-bottom: 1px solid #e5e5e5; */
    background: #fff;
    border-radius: 4px;
    flex-basis: calc(50% - 16px);
    box-sizing: border-box;
    padding: 16px;
  }
  /* .accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #03b5d2;
  } */
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    /* color: #03b5d2; */
  }
  .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    /* color: #03b5d2; */
    /* border: 1px solid #03b5d2; */
  }
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 25px;
    height: 25px;
    /* border: 1px solid; */
    border-radius: 22px;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 6px;
    width: 13px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 12px;
    width: 2px;
    height: 13px;
    background: currentColor;
  }
  /* .accordion button[aria-expanded=true] {
    color: #03b5d2;
  } */
  .accordion button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 1em 0;
    text-align: left;
  }


  .accordion button[aria-expanded=true] .icon{
    background: rgba(239, 199, 200, 1);
    border: none;
    border-radius: 2px;
    color: #fff;
  }

  #ft{
    border:none;
    background: linear-gradient(180deg, #FFF 9.9%, #FFF0ED 100%);
    padding: 40px 0 20px;
  }

  #ft .mc-form{
    margin: 0 auto;
    width: 100%;
  }

  #ft .mc-form .form-group{
    display: inline-block;
    width: 20%;
    margin-right: 20px;
  }

  #ft .mc-form .form-group:nth-child(3){
    width: 35%;
  }

  #ft .mc-form .form-group:nth-child(4){
    width: 13%;
  }

  #ft ul.footer-pn-1,#ft ul.footer-pn-2{
    text-align: center;
  }

  .footer-pn-1 li,.footer-pn-2 li{
    display: inline-block;
    /* margin-right: 20px; */
    padding: 0 20px;
  }

  #ft .footer-pn-1 li a{
    line-height: 20px;
    color: rgba(21, 21, 21, 1);
    font-size: 14px;
    font-weight: 400;
  }

  #ft .footer-pn-2 li a{
    line-height: 16px;
    color: rgba(21, 21, 21, 1);
    font-size: 11px;
    font-weight: 5s00;
  }

  #ft ul li.current-menu-item a{
    font-weight: 800;
    border-bottom: 1px solid;
  }

#ft .newsletter-wrap p{
  text-align: center;
  margin: 30px 0 20px;
  font-size: 14px;
  font-weight: 600;
}

  .ai-chat .gutter{
    border-bottom: 2px solid rgba(179, 179, 179, 0.5);
  }

  @media(min-width:800px){
    .mobile-menu{
        display: none;
    }
  }

  @media(max-width:800px){

    #ft ul.footer-pn-1, #ft ul.footer-pn-2{
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
    .footer-pn-1 li, .footer-pn-2 li{
      display: block;
    
    }

    #ft .footer-pn-2 li a{
      font-size: 14px;
      line-height: 20px;
    }

    #ft .mc-form .form-group{
      display: inline-block;
      width: 48%;
      margin: 0;
      margin-top: 15px;
      margin-right: 7px;
    }
    #ft .mc-form .form-group:nth-child(3){
      width: 100%;
      display:block;
      margin-right: 7px;
    }

    #ft .mc-form .form-group:nth-child(4){
      width: 100%;
      display:block;
      margin-right: 7px;
      text-align: center;
    }

    .visuals-btn-wrap a{
      position: relative;
      top: auto;
    }

    .mobile-menu{
        display: block;
    }
    ul.homepage-tags li{
      margin: 10px;
      margin-top: 0;
    }
    ul.homepage-tags li a{
      padding: 5px 16px;
      border-radius: 30px;
      font-size: 14px;
      line-height: 18px;
    }
  }